* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border: 1px solid black;
    padding: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding: 10px 20px;
    border: 1px solid black;
}

.tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid black;
}

.first:hover,
.previous:hover,
.next:hover,
.last:hover {
    cursor: pointer;
    background: black;
    color: white;
}